body {
	/* make room for navbar	*/
	padding-top: 100px;
}

nav {
    height: 100px;
    line-height: 100px;

	/* make navbar stick to top of page */
	position: fixed;
	top: 0;
	width: 100%;

	/* make navbar on top of elements */
	z-index: 2;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 100px;
    line-height: 100px;
}

nav .button-collapse i {
    height: 100px;
    line-height: 100px;
}

nav .brand-logo {
    font-size: 1.6rem;
}

@media only screen and (min-width: 601px) {
    nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 100px;
        line-height: 100px;
    }
}

nav ul {
	transform: translateX(100px);
}
