* {
	/* make font thinner */
	font-weight: 300	!important;
}

.content {
	/* make elements not squish against side of screen */
	margin-left: 10%;
	margin-right: 10%;
}

/* picture gallery on works page */

.horizontal {
	width: 100%;
	height: 100%;
	margin: 0 auto 0 auto;
	text-align: center;
}

.horizontal div {
	display: inline-block;
}

/* website gallery on home page */

 .carousel-slider {
	/*width: 80vw !important;*/
	height: calc(80vw * 0.5625) !important;
	margin-left: auto;
	margin-right: auto;
}

/* water.png on home page */

.water-image {
	/* allows our absolue-positioned text to overlay */
	position: relative;
}

.water-image h3 {
	/* attributes */
	color: white;
	font-size: 260%;
	background-color:	#424242;	/* same color as  */
	border: 15px solid	#424242;	/* gray darken-3  */

	/* position text on top of image */
	position: absolute;
	top: 20vw;
	left: 4%;
}

/* the navbar */

body {
	/* make room for navbar	*/
	padding-top: 100px;
}

nav {
	/* position navbar */
	height: 100px;
	line-height: 100px;
	top: 0;
	width: 100%;

	/* make navbar on top of elements */
	z-index: 2;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
	height: 100px;
	line-height: 100px;
}

nav .button-collapse i {
	height: 100px;
	line-height: 100px;
}

nav .brand-logo {
	font-size: 1.6rem;
}

@media only screen and (min-width: 601px) {
	@media only screen and (max-width: 992px) {
		nav .brand-logo {
			left: 50px	!important;
		}
	}

	nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        	height: 100px;
        	line-height: 100px;
	}
}

nav ul {
	transform: translateX(100px);
}
