* {
	/* make font thinner */
	font-weight: 300	!important;
}

/* website gallery on index.html */

 .carousel-slider {
	width: 960px !important;
	height: 540px !important;
	margin-left: auto !important;
	margin-right: auto !important;
}

/* water.png on index.html */

.water-image {
	/* allows our absolue-positioned text to overlay */
	position: relative;
}

.water-image h3 {
	/* attributes */
	color: white;
	font-size: 260%;
	background-color:	#424242;	/* same color as  */
	border: 15px solid	#424242;	/* gray darken-3  */

	/* position text on top of image */
	position: absolute;
	top: 250px;
	left: 50px;
}

/* the navbar */

body {
	/* make room for navbar	*/
	padding-top: 100px;
}

nav {
    height: 100px;
    line-height: 100px;

	/* make navbar stick to top of page */
	position: fixed;
	top: 0;
	width: 100%;

	/* make navbar on top of elements */
	z-index: 2;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    height: 100px;
    line-height: 100px;
}

nav .button-collapse i {
    height: 100px;
    line-height: 100px;
}

nav .brand-logo {
    font-size: 1.6rem;
}

@media only screen and (min-width: 601px) {
	@media only screen and (max-width: 992px) {
		nav .brand-logo {
			left: 50px	!important;
		}
	}

	nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
        height: 100px;
        line-height: 100px;
    }
}

nav ul {
	transform: translateX(100px);
}
